﻿@using Microsoft.AspNet.Identity

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="~/ShopTemplate/dist/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Deal Store</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <!-- Navbar-->
        <header class="main-header hidden-print">
            <a class="logo" href="index.html">Deal Store</a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>
                <!-- Navbar Right Menu-->
                <div class="navbar-custom-menu">
                    <ul class="top-nav">
                        <!--Notification Menu-->
                        @*<li class="dropdown notification-menu">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>

                        </li>*@
                        <!-- User Menu-->
                        @if (User.IsInRole("ShopOwner") || User.IsInRole("MallOwner"))// for shop owner --------------------------------------------------------------------------
                        {
                            <li><a href="~/Account/LogOff"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                        }
                </div>
            </nav>
        </header>
        @if (User.IsInRole("ShopOwner"))// for shop owner --------------------------------------------------------------------------
        {
        <!-- Side-Nav-->
            <aside class="main-sidebar hidden-print">
                <section class="sidebar">
                    <div class="user-panel">
                        @{
                            var db2 = new store.Models.MallManagementEntities();
                            var ShopOwnerID = User.Identity.GetUserId();
                            var ShopOwnerImg = db2.ShopOwnerDetailsTbls.Where(x => x.ShopOwnerID == ShopOwnerID).FirstOrDefault();
                            if (ShopOwnerImg.img != null)
                            {
                                <div class="pull-left image"><img class="img-circle" src="~/Uploads/ShopOwner/@ShopOwnerImg.img" alt="User Image"></div>
                            }
                            else
                            {
                                <div class="pull-left image"><img class="img-circle" src="~/Uploads/ShopOwner/defaultuser.png" alt="User Image"></div>
                            }
                        }

                        <div class="pull-left info">
                            <p>
                                @{
                                    var db = new store.Models.MallManagementEntities();
                                    var ShopOwnerID1 = User.Identity.GetUserId();
                                    var Name = db.ShopOwnerDetailsTbls.Where(x => x.ShopOwnerID == ShopOwnerID1).FirstOrDefault();
                                    @Name.Name;
                                }
                            </p>
                        </div>
                    </div>

                    <!-- Sidebar Menu-->
                    <ul class="sidebar-menu">
                        <li class="active"><a href="~/Shop/ShopOwnerPage"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                        <li class="treeview">
                            <a href="~/Shop/ViewProfile"><i class="fa fa-user"></i><span>Profile</span>@*<i class="fa fa-angle-right"></i>*@</a>
                            @*<ul class="treeview-menu">
                                    <li><a href="bootstrap-components.html"><i class="fa fa-circle-o"></i> Bootstrap Elements</a></li>
                                    <li><a href="http://fontawesome.io/icons/" target="_blank"><i class="fa fa-circle-o"></i> Font Icons</a></li>
                                    <li><a href="ui-cards.html"><i class="fa fa-circle-o"></i> Cards</a></li>
                                    <li><a href="widgets.html"><i class="fa fa-circle-o"></i> Widgets</a></li>
                                </ul>*@
                        </li>
                        <li><a href="~/Shop/ShopView"><i class="fa fa-shopping-bag"></i><span>Shops</span></a></li>
                        <li class="treeview">
                            <a href="ViewTransactionsSearch"><i class="fa fa-credit-card-alt"></i><span>Transactions</span>@*<i class="fa fa-angle-right"></i>*@</a>
                            @*<ul class="treeview-menu">
                                    <li><a href="form-components.html"><i class="fa fa-circle-o"></i> Form Components</a></li>
                                    <li><a href="form-custom.html"><i class="fa fa-circle-o"></i> Custom Components</a></li>
                                    <li><a href="form-samples.html"><i class="fa fa-circle-o"></i> Form Samples</a></li>
                                    <li><a href="form-notifications.html"><i class="fa fa-circle-o"></i> Form Notifications</a></li>
                                </ul>*@
                        </li>
                        <li class="treeview">
                            <a href="~/Shop/ShopInterest"><i class="fa fa-hand-paper-o"></i><span>Send Interest</span>@*<i class="fa fa-angle-right"></i>*@</a>
                            @*<ul class="treeview-menu">
                                    <li><a href="table-basic.html"><i class="fa fa-circle-o"></i> Basic Tables</a></li>
                                    <li><a href="table-data-table.html"><i class="fa fa-circle-o"></i> Data Tables</a></li>
                                </ul>*@
                        </li>
                        <li class="treeview">
                            <a href="~/Shop/MsgToMall"><i class="fa fa-envelope"></i><span>Messages</span>@*<i class="fa fa-angle-right"></i>*@</a>
                            @*<ul class="treeview-menu">
                                    <li><a href="blank-page.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                                    <li><a href="page-login.html"><i class="fa fa-circle-o"></i> Login Page</a></li>
                                    <li><a href="page-lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen Page</a></li>
                                    <li><a href="page-user.html"><i class="fa fa-circle-o"></i> User Page</a></li>
                                    <li><a href="page-invoice.html"><i class="fa fa-circle-o"></i> Invoice Page</a></li>
                                    <li><a href="page-calendar.html"><i class="fa fa-circle-o"></i> Calendar Page</a></li>
                                    <li><a href="page-mailbox.html"><i class="fa fa-circle-o"></i> Mailbox</a></li>
                                    <li><a href="page-error.html"><i class="fa fa-circle-o"></i> Error Page</a></li>
                                </ul>*@
                        </li>
                        @*<li class="treeview">
                                <a href="#"><i class="fa fa-share"></i><span>Multilevel Menu</span><i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="blank-page.html"><i class="fa fa-circle-o"></i> Level One</a></li>
                                    <li class="treeview">
                                        <a href="#"><i class="fa fa-circle-o"></i><span> Level One</span><i class="fa fa-angle-right"></i></a>
                                        <ul class="treeview-menu">
                                            <li><a href="blank-page.html"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i><span> Level Two</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    }
                                   
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">@RenderBody()</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
        </div>

        @*@RenderBody()*@
        <!-- Javascripts-->
        <script src="~/ShopTemplate/dist/js/plugins/pace.min.js"></script>
        <script src="~/ShopTemplate/dist/js/main.js"></script>


        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>