﻿
@{
    ViewBag.Title = "MallOwnerShop";
}

<body style="background-color:black">

    @*@Styles.Render("~/Content/store.css")*@
    @*@using (Html.BeginForm("ShopOwnerPage", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Welcome!choose option.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="AddShop" onclick="@("window.location.href='" + @Url.Action("ShopRegMallOwner", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Shop List" onclick="@("window.location.href='" + @Url.Action("MallOwnerShopListViewSearch", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="User List" onclick="@("window.location.href='" + @Url.Action("MallShopUserListView", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Transactions" onclick="@("window.location.href='" + @Url.Action("MallViewTransactionsSearch", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Shop Interest" onclick="@("window.location.href='" + @Url.Action("MallOwnerShopInterest", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Complaints" onclick="@("window.location.href='" + @Url.Action("MsgToShop", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Withdrawals" onclick="@("window.location.href='" + @Url.Action("MallViewShopDiscontinue", "Shop") + "'");" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="button" style="width:200px;height:50px" value="Payment Pending List" onclick="@("window.location.href='" + @Url.Action("PaymentPendingList", "Shop") + "'");" />
                </div>
            </div>


        }*@





    @using (Html.BeginForm("ShopOwnerPage", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Welcome!choose option.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })



        <div class="form-group">

            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="AddShop" onclick="@("window.location.href='" + @Url.Action("ShopRegMallOwner", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Shop List" onclick="@("window.location.href='" + @Url.Action("MallOwnerShopListViewSearch", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="User List" onclick="@("window.location.href='" + @Url.Action("MallShopUserListView", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Transactions" onclick="@("window.location.href='" + @Url.Action("MallViewTransactionsSearch", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Shop Interest" onclick="@("window.location.href='" + @Url.Action("MallOwnerShopInterest", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Complaints" onclick="@("window.location.href='" + @Url.Action("MsgToShop", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Withdrawals" onclick="@("window.location.href='" + @Url.Action("MallViewShopDiscontinue", "Shop") + "'");" />
            <input type="button" class="button" style="width:230px;height:250px;background-color:darkblue" value="Payment Pending List" onclick="@("window.location.href='" + @Url.Action("PaymentPendingList", "Shop") + "'");" />

        </div>




    }











</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        text-align: center;
        padding: 300px;
    }

    .button {
        display: inline-block;
        background: #4285f4;
        color: #fff;
        text-transform: uppercase;
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        -webkit-transition: all ease-in-out 300ms;
        transition: all ease-in-out 300ms;
    }

        .button:hover {
            box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
            -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
        }
</style>