﻿@* Payment from shop owner to mall owner*@
@model store.Models.ViewModel.PaymentViewModel
@{
    ViewBag.Title = "DebitCardPayment";
}

@*@Styles.Render("~/Content/store.css")*@
@using (Html.BeginForm("DebitCardPayment", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Payment Page</h4>
    <hr />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@



    @*<div class="row">
        <input type="button" align="right" class="btn btn-primary" style="float: right;" value="Back" onclick="@("window.location.href='" + @Url.Action("PaymentPage", "Shop") + "'");" />
    </div>*@


    @Html.HiddenFor(x=>x.ShopID)

        @*<div class="form-group">
            @Html.LabelFor(m => m.ShopID, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.ShopID, new { @class = "form-control" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
            @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.Mallvar, "MallID", "MallName"), "-- Select --", new { @class = "form-control" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(m => m.Amt, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.Amt, new { @class = "form-control" })
            </div>
        </div>


         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>



}


@{
    var MallID2 = Request.QueryString["MallID"];
    var ShopID2 = Request.QueryString["ShopID"];
    var Amt = Request.QueryString["Amt"];
    var MallID = Convert.ToInt32(MallID2);
    var ShopID = Convert.ToInt32(ShopID2);
    if (MallID2 != null && Amt!=null)
    {
        <div style="width:700px" class="container wrapper">

            @using (Html.BeginForm("DebitCardPayment2", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row cart-body">

                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">

                    </div>*@
                    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">*@


                        <!--CREDIT CART PAYMENT-->
                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
                            <div class="panel-body">
                              
                                                    <div class="form-group">
                                                        <div class="col-md-12"><strong>Amount:</strong></div>
                                                        <div class="col-md-12"><input type="text" class="form-control" readonly value="@Amt" name="Amt" /></div>
                                                        <div class="col-md-12"><input type="hidden" class="form-control" value="@MallID" name="MallID" /> </div>
                                                        <div class="col-md-12"><input type="hidden" class="form-control" value="@ShopID" name="ShopID" /></div>
                                                    </div>

                                               

                                <div class="form-group">
                                    <div class="col-md-12"><strong>Card Type:</strong></div>
                                    <div class="col-md-12">
                                        <select id="DebitCardType" name="DebitCardType" class="form-control">
                                            <option value="5">Visa</option>
                                            <option value="6">MasterCard</option>
                                            <option value="7">American Express</option>
                                            <option value="8">Discover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Debit Card Number:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_number" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Card CVV:</strong></div>
                                    <div class="col-md-12"><input type="text" class="form-control" name="car_code" value="" /></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <strong>Expiration Date</strong>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Month</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="">
                                            <option value="">Year</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span>Pay secure using your debit card.</span>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="cards">
                                            <li class="visa hand">Visa</li>
                                            <li class="mastercard hand">MasterCard</li>
                                            <li class="amex hand">Amex</li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="submit" class="btn btn-primary " value="Pay Now" />
                                        <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("PaymentPage", "Shop",new { ShopID=ShopID}) + "'");" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--DEBIT CART PAYMENT END-->
                    </div>


                @*</div>*@
                                    }
            <div class="row cart-footer">

            </div>
        </div>
                                    }
}


<style>
    .cards{
    padding-left:0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .mastercard {
  background-position: -51px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .amex {
  background-position: -102px 0;
}
.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards li:last-child {
  margin-right: 0;
}



    .panel {
    border-radius: 1px;
}
.panel-info > .panel-heading {
    color: #eee;
    border-color: #999;
}
.panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #555 0px, #888 100%);
}

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
