﻿@model store.Models.MallShopTransactionTbl
@{
    ViewBag.Title = "GetSlip";
}

<h2>GetSlip</h2>
@Styles.Render("~/Content/store.css")
@using (Html.BeginForm("GetSlip", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container">
        <div class="row">

            <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="receipt-header">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="receipt-left">
                                @{
                                    var db2 = new store.Models.MallManagementEntities();
                                    var ShopImg = db2.ShopTbls.Where(x => x.ShopID == Model.ShopID).FirstOrDefault();

                                    if (ShopImg.img != null)
                                    {
                                        <img src="~/Uploads/ShopOwner/@ShopImg.img" alt="stack photo" class="img" style="width: 71px; border-radius: 43px;">
                                    }
                                    else
                                    {
                                        <img src="~/Uploads/ShopOwner/default.png" alt="stack photo" class="img" style="width: 71px; border-radius: 43px;">
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                            <div class="receipt-right">

                                <h5>
                                    @{
                                        var db = new store.Models.MallManagementEntities();
                                        var MallName = db.MallTbls.ToList();
                                        foreach (var id in MallName)
                                        {
                                            if (Model.MallID == id.MallID)
                                            {
                                                @Html.DisplayFor(modelItem => id.MallName)
                                            }

                                        }
                                    }
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-left">

                                @{
                                    var db1 = new store.Models.MallManagementEntities();
                                    var ShopName = db.ShopTbls.ToList();
                                    var ShopOwner = db1.ShopOwnerDetailsTbls.ToList();
                                    foreach (var id in ShopName)
                                    {
                                        foreach (var id1 in ShopOwner)
                                        {
                                            if (Model.ShopID == id.ShopID && id.ShopOwnerID == id1.ShopOwnerID)
                                            {
                                                <h5> @Html.DisplayFor(modelItem => id.ShopName) </h5>
                                                <p><b>Name :</b> @Html.DisplayFor(modelItem => id1.Name)</p>
                                                <p><b>Mobile :</b> @Html.DisplayFor(modelItem => id.PhnNo)</p>
                                            }
                                        }

                                    }
                                }


                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="receipt-left">
                                <h1>Receipt</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9">Amoun Paid</td>
                                <td class="col-md-3"><i class="fa fa-inr"></i> @Html.DisplayFor(modelItem => Model.Amt)/-</td>
                            </tr>

                            @*<tr>
                                    <td class="text-right">
                                        <p>
                                            <strong>Total Amount: </strong>
                                        </p>
                                        <p>
                                            <strong>Late Fees: </strong>
                                        </p>
                                        <p>
                                            <strong>Payable Amount: </strong>
                                        </p>
                                        <p>
                                            <strong>Balance Due: </strong>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <strong><i class="fa fa-inr"></i> 65,500/-</strong>
                                        </p>
                                        <p>
                                            <strong><i class="fa fa-inr"></i> 500/-</strong>
                                        </p>
                                        <p>
                                            <strong><i class="fa fa-inr"></i> 1300/-</strong>
                                        </p>
                                        <p>
                                            <strong><i class="fa fa-inr"></i> 9500/-</strong>
                                        </p>
                                    </td>
                                </tr>*@
                            <tr>

                                <td class="text-right"><h2><strong>Total: </strong></h2></td>
                                <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> @Html.DisplayFor(modelItem => Model.Amt)/-</strong></h2></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid receipt-footer">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-right">
                                <p><b>Date :</b> @Html.DisplayFor(modelItem => Model.Date)</p>
                                <h5 style="color: rgb(140, 140, 140);">Thank you for your business!</h5>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="receipt-left">
                                <h1>Signature</h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="btn btn-success">
        @Html.ActionLink("Download","DownloadPDF",new { MallShopTransactionID = Model.MallShopTransactionID})
        </div>
       }