﻿@*@model store.Models.ViewModel.ShopInterestViewModel*@
@using Microsoft.AspNet.Identity;
@model List<store.Models.ShopInterestRequestTbl>
@{
    ViewBag.Title = "InterestReply";
}
@Styles.Render("~/Contents/store.css")

<hr>
<h2>Chat</h2>

@using (Html.BeginForm("InterestReply", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <input type="button" align="down" class="btn btn-primary" style="float:right;" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOWnerShopInterest", "Shop") + "'");" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat

                    </div>

                    <div class="panel-body">
                        @foreach (var item in Model)
                        {
                            if (item.Message != null)
                            {
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">
                                            @{
                                                var db = new store.Models.MallManagementEntities();
                                                var SOwner = db.ShopOwnerDetailsTbls.ToList();
                                             
                                               
                                                        foreach (var id2 in SOwner)
                                                        {
                                                            if (id2.ShopOwnerID == item.ShopOwnerID)
                                                            {
                                                                @Html.DisplayFor(modelItem => id2.Name)
                                                            }
                                                     

                                                }
                                            }
                                        </strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>@item.DateExpressed
                                        </small>
                                    </div>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Message)
                                    </p>
                                </div>
                                <p>-----------------------------------------------------------------------------------------</p>
                                                }

                                                if (item.Reply != null)
                                                {
                                                    <span class="chat-img pull-right">
                                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                                    </span>
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <small class="text-muted"><span class="glyphicon glyphicon-time"></span>@item.DateExpressed</small>
                                                            <strong class="pull-right primary-font">
                                                                @{
                                                                    var db = new store.Models.MallManagementEntities();
                                                                    var MallOwnerID = User.Identity.GetUserId();
                                                                    var MOwner = db.MallOwnerDetailsTbls.Where(x => x.MallOwnerID == MallOwnerID).ToList();
                                                                    foreach (var id in MOwner)
                                                                    {
                                                                        if (MallOwnerID == id.MallOwnerID)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => id.OwnerName)
                                                                        }
                                                                    }
                                                                }
                                                            </strong>
                                                        </div>
                                                        <p>
                                                            @Html.DisplayFor(modelItem => item.Reply)
                                                        </p>
                                                    </div>
                                                    <p>-----------------------------------------------------------------------------------------</p>
                                                                        }
                                                                    }
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" name="Reply" class="form-control input-sm" placeholder="Type your message here..." />
                            <input type="hidden" class="form-control" name="ShopID" value="@ViewBag.ShopID" />
                            <input type="hidden" class="form-control" name="ShopOwnerID" value="@ViewBag.ShopOwnerID" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


                                                                    }
