﻿@model store.Models.ViewModel.ComplaintBoxViewModel
@{
    ViewBag.Title = "ShopListViewSearch";
}
<hr>
<body style="background-color:white">
    <h2>Search your Shops and Rooms</h2>
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }

    <div align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
    </div>

    @using (Html.BeginForm("MallOwnerShopListViewSearch", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Shops/Rooms...</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Mall:</label>
                                @*@Html.LabelFor(m => m.MallName, new { @class = "col-md-2 control-label" })*@
                                <div class="col-xs-12 col-md-5">
                                    @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control", @required = "required" })
                                </div>
                            </div>

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.MallID)
                            <div class="form-group" style="color:black;">
                                <h5>@Html.LabelFor(m => m.ShopOrRooms, new { @class = "col-md-2 control-label" })</h5>
                                <div class="col-xs-12 col-md-5">
                                    @Html.RadioButtonFor(model => model.ShopOrRooms, "ShopList", new { id = "ShopList" })@Html.Label("ShopList", "ShopList")
                                    <br />
                                    @Html.RadioButtonFor(model => model.ShopOrRooms, "RoomList", new { id = "RoomList" })@Html.Label("RoomList", "RoomList")<br />
                                    @Html.ValidationMessageFor(model => model.ShopOrRooms, "", new { @class = "Red-Text" })

                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-offset-2">
                                <input type="submit" value="Search" class="btn btn-primary" />
                                <div class="btn">
                                    @if (Request.QueryString["MallID"] != null)
                                    {
                                        @Html.ActionLink("Get Report", "RegShopsReport", "Shop", new { MallID = Request.QueryString["MallID"].ToString() }, "")
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    }

    @{
        var MallID = Request.QueryString["MallID"];
        var ShopOrRooms = Request.QueryString["ShopOrRooms"];
        var MallIDInt32 = Convert.ToInt32(MallID);
        var db = new store.Models.MallManagementEntities();
        if (MallID != null && ShopOrRooms != null)
        {
            if (ShopOrRooms == "ShopList")
            {

                var ShopList = db.ShopTbls.Where(x => x.MallID == MallIDInt32 && x.IsActive == true).ToList();
                if (ShopList.Count() > 0)
                {
                    Html.RenderPartial("ShopListViewSearchPartial", ShopList);
                }
                else
                {
                    <div align="center"><h2>No Records!</h2></div>
                }
            }
            else
                 if (ShopOrRooms == "RoomList")
            {

                var ShopList = db.ShopTbls.Where(x => x.MallID == MallIDInt32 && x.IsActive != true).ToList();
                if (ShopList.Count() > 0)
                {
                    Html.RenderPartial("RoomListViewSearchPartial", ShopList);
                }
                else
                {
                    <div align="center"><h2>No Records!</h2></div>
                }
            }


        }
    }
    </body>