﻿@model IEnumerable<store.Models.RemoveShopTbl>

@{
    ViewBag.Title = "MallViewShopDiscontinue";
}
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<hr>
<div align="right">
    <input type="button" class="btn btn-primary"  value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />

</div>

<h2>Withdrawals</h2>
<body style="background-color:white">
    <table class="table  table-hover table-striped">
        <tr>
            <th>
                Shop Name
            </th>
            <th>
                Mall Name
            </th>
            <th>
                Phone Number
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.RoomNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloorNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LicenceNo)
                </th>*@
            <th>
                ShopOwner Name
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DateOfExpiry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShopCategoryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmtPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WithdrawDate)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @{
                        var db1 = new store.Models.MallManagementEntities();
                        var MallList = db1.MallTbls.ToList();
                        foreach (var id in MallList)
                        {
                            if (id.MallID == item.MallID)
                            {
                                @Html.DisplayFor(modelItem => id.MallName)
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhnNo)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.RoomNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FloorNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenceNo)
                    </td>*@
                <td>
                    @{
                        var db2 = new store.Models.MallManagementEntities();
                        var ShpoOwnerList = db2.ShopOwnerDetailsTbls.ToList();
                        foreach (var id in ShpoOwnerList)
                        {
                            if (id.ShopOwnerID == item.ShopOwnerID)
                            {
                                @Html.DisplayFor(modelItem => id.Name)
                            }
                        }
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DateOfExpiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopCategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmtPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WithdrawDate)
                    </td>*@
                <td>
                    @{
                        if (item.WithdrawDate == null)
                        {
                            <div class="btn btn=default">@Html.ActionLink("Accept", "MallAcceptShopDiscontinue", new { ShopID = item.ShopID }, new { onclick = "return confirm('Are you sure?');" })</div>
                        }
                    }
                    <div class="btn btn-default">@Html.ActionLink("Details", "ShopDiscontinueDetails", new { ShopID = item.ShopID })</div>
                    <div class="btn btn-default"> @Html.ActionLink("Delete", "RemoveShopDiscontinue", new { ShopID = item.ShopID }, new { onclick = "return confirm('Are sure wants to delete?');" })</div>
                </td>
            </tr>
                        }

    </table>
    </body>