﻿@model List<store.Models.ShopInterestRequestTbl>
@{
    ViewBag.Title = "ShopInterests";

}

@*<script>
        alert('Already Exist');
    </script>*@

@Html.Raw(TempData["Status"])

<hr>
<h2>Shops</h2>
<body style="background-color:white">
    <div class="row">
        <input type="button" align="down" class="btn btn-primary" style="float:right;" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
    </div>

    <table class="table">
        <tr>
            <th>
                Mall
            </th>
            <th>
                Room No
            </th>

            <th>
                ShopOwner Name
            </th>

            <th>
                Date Expressed
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
           
                <tr>
                    <td>
                        @{
                            var db1 = new store.Models.MallManagementEntities();
                            var shop2 = db1.ShopTbls.Where(x => x.ShopID == item.ShopID).FirstOrDefault();
                            var mall2 = db1.MallTbls.ToList();
                            foreach (var id in mall2)
                            {
                                if (shop2.MallID == id.MallID)
                                {
                                    @Html.DisplayFor(modelItem => id.MallName)
                                }
                            }
                        }
                    </td>
                    <td>
                        @{

                            var SOwner2 = db1.ShopTbls.ToList();
                            foreach (var id in SOwner2)
                            {
                                if (item.ShopID == id.ShopID)
                                {
                                    @Html.DisplayFor(modelItem => id.RoomNo)
                                }
                            }
                        }
                    </td>
                    <td>
                        @{
                            var db = new store.Models.MallManagementEntities();
                            var SOwner = db.ShopOwnerDetailsTbls.ToList();
                            foreach (var id in SOwner)
                            {
                                if (item.ShopOwnerID == id.ShopOwnerID)
                                {
                                    @Html.DisplayFor(modelItem => id.Name)
                                }
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateExpressed)
                    </td>
                    <td>
                        @{

                            var Shop = db.ShopTbls.Where(x => x.ShopID == item.ShopID).FirstOrDefault();
                            if (Shop.ShopOwnerID != null)
                            {



                                <h4 style="color:red">
                                    Room Already Occupied!
                                    @Html.ActionLink("Interester Details", "ShopInterestSenderDetails", new { id = item.ShopOwnerID }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("  ViewChat", "InterestReply", new { ShopID = item.ShopID, ShopOwnerID = item.ShopOwnerID }, new { @class = "btn btn-default" })
                                </h4>
                            }
                            else
                            {
                                @Html.ActionLink(" Accept", "InterestAccept", new { ShopOwnerID = item.ShopOwnerID, ShopID = item.ShopID }, new { @class = "btn btn-default" });
                                @Html.ActionLink("  Interester Details", "ShopInterestSenderDetails", new { id = item.ShopOwnerID }, new { @class = "btn btn-default" });
                                @Html.ActionLink("  ViewChat", "InterestReply", new { ShopID = item.ShopID,ShopOwnerID=item.ShopOwnerID }, new { @class = "btn btn-default" });
                            }
                        }

                    </td>



                </tr>
                                }
                            
    </table>
    </body>