﻿@*@model List<store.Models.ShopOwnerDetailsTbl>


    <table class="table">
        <tr>
            <th>

            </th>
            <th>
               Name
            </th>
            <th>
                Address
            </th>
            <th>
                Age
            </th>
            <th>
                Gender
            </th>
            <th>
                DOB
            </th>
            <th>
                EmailID
            </th>
            <th>
                PhnNo
            </th>

            <th></th>
        </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @if (item.img != null)
                {
                    <img src="~/Uploads/ShopOwner/@item.img" alt="stack photo" class="img" style="width:170px;height:170px">
                }
                else
                {
                    <img src="~/Uploads/ShopOwner/defaultuser.png" alt="stack photo" class="img" style="width:170px;height:170px">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhnNo)
            </td>


            <td class="btn">
                @Html.ActionLink("Delete", "RemoveUser", new { ShopOwnerID = item.ShopOwnerID }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
            <td class="btn">
                @Html.ActionLink("View Shops", "MallOwnerShopListViewOnID", new { ShopOwnerID = item.ShopOwnerID })</td>


        </tr>
    }

    </table>*@



@model List<store.Models.ShopOwnerDetailsTbl>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            
            <div class="col-sm-2 col-md-2">

                @if (item.img != null)
                {
                    <img src="~/Uploads/ShopOwner/@item.img" alt="" class="img-rounded img-responsive">
                }
                else
                {
                    <img src="~/Uploads/ShopOwner/defaultuser.png" alt="" class="img-rounded img-responsive">
                }

            </div>
            <div class="col-sm-4 col-md-4">
                <blockquote>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p> <small>@Html.DisplayFor(modelItem => item.Address) <i class="fa fa-map-marker"></i></small>
                </blockquote>
                <p>
                    <i class="fa fa-heart"></i>@Html.DisplayFor(modelItem => item.Age)
                    <br /> <i class="fa fa-venus-mars"></i> @Html.DisplayFor(modelItem => item.Gender)
                    <br /> <i class="fa fa-birthday-cake"></i> @Html.DisplayFor(modelItem => item.DOB)
                    <br /> <i class="fa fa-envelope"></i> @Html.DisplayFor(modelItem => item.EmailID)
                    <br /> <i class="fa fa-phone"></i> @Html.DisplayFor(modelItem => item.PhnNo)
                    <div class="btn btn-default">
                        @Html.ActionLink("Delete", "RemoveUser", new { ShopOwnerID = item.ShopOwnerID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </div>
                  
                      <div class="btn btn-default">  @Html.ActionLink("View Shops", "MallOwnerShopListViewOnID", new { ShopOwnerID = item.ShopOwnerID })
                    </div>
                </p>
            </div>
        }

</div>
      
    </div>
