﻿@*@model IEnumerable<store.Models.ShopTbl>

@{
    ViewBag.Title = "MallOwnerShopListViewOnID";
}

<h2>MallOwnerShopListViewOnID</h2>
<hr />

<div align="right">
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallShopUserListView", "Shop") + "'");" />
</div>

@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            Shop Name
        </th>
        <th>
            Mall Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Room Number
        </th>
        <th>
            Floor Number
        </th>
        <th>
            Licence Number
        </th>
        
        <th>
            Date Of Expiry
        </th>
       
        <th>
            Shop Category
        </th>
        <th>
            Rent Amount
        </th>
       
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @{
                var db1 = new store.Models.MallManagementEntities();
                var MallList = db1.MallTbls.ToList();
                foreach (var id in MallList)
                {
                    if (id.MallID == item.MallID)
                    {
                        @Html.DisplayFor(modelItem => id.MallName)
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhnNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenceNo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DateOfExpiry)
        </td>
     
        <td>
            @{
                var db2 = new store.Models.MallManagementEntities();
                var ShopCategoryList = db2.ShopCategoryTbls.ToList();
                foreach (var id in ShopCategoryList)
                {
                    if (id.ShopCategoryID == item.ShopCategoryID)
                    {
                        @Html.DisplayFor(modelItem => id.ShopCategoryName)
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amt)
        </td>
        
        <td>
            @Html.ActionLink("Delete", "RemoveShops", new { ShopOwnerID = item.ShopOwnerID })|
        </td>
    </tr>
}

</table>
}
else
{
<div align="center"><h2>No Shopes Registered Yet!</h2></div>
}*@


@model IEnumerable<store.Models.ShopTbl>

@{
    ViewBag.Title = "MallOwnerShopListViewOnID";
}
<hr>
@*<h2>MallOwnerShopListViewOnID</h2>*@
<hr />

<div align="right">
    <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallShopUserListView", "Shop") + "'");" />
</div>

@if (Model.Count() > 0)
{
         <!-- price & service -->
<div class="container">

    @foreach (var item in Model)
    {
    <!-- Pack 1-->
        <div class="col-md-3" id="home-box">
            <div class="pricing_header">
                <h2>@Html.DisplayFor(modelItem => item.ShopName)</h2>
                <div class="space"></div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="fa fa-building"></span>- @{
                        var db = new store.Models.MallManagementEntities();
                        var MallList = db.MallTbls.ToList();
                        foreach (var id in MallList)
                        {
                            if (item.MallID == id.MallID)
                            {
                                @Html.DisplayFor(modelItem => id.MallName)
                            }
                        }
                    }
                </li>
                <li class="list-group-item"><span class="fa fa-phone"></span>-@Html.DisplayFor(modelItem => item.PhnNo)</li>
                <li class="list-group-item"><span class="fa fa-calendar-check-o"></span>-@Html.DisplayFor(modelItem => item.RegDate)</li>
                <li class="list-group-item">
                    <span class="fa fa-shopping-bag"></span>-@{

                        var Cat = db.ShopCategoryTbls.ToList();
                        foreach (var id in Cat)
                        {
                            if (item.ShopCategoryID == id.ShopCategoryID)
                            {
                                @Html.DisplayFor(modelItem => id.ShopCategoryName)
                            }
                        }
                    }
                </li>
                <li class="list-group-item"><span class="fa fa-inr"></span>-@Html.DisplayFor(modelItem => item.Amt)</li>

            </ul>

        @* dont need delete section on this page *@
            @*<div class="btn btn-default">
                @Html.ActionLink("Delete", "RemoveShops", new { ShopOwnerID = item.ShopOwnerID })                            
            </div>*@
        </div>
                        }
   
</div>
                        }
                        else
                        {
                            <h1>No Records!!</h1>
                        }
<style>
    .container {
        padding-top: 40px;
    }

    #details {
        font-family: "Quicksand", sans-serif;
        font-size: 60px;
    }

    #home-box > h2 {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        line-height: 1.1;
        color: #75b1ae;
    }

    .price {
        font-size: 25px;
        float: left;
    }

    .pricing_header {
        background: none repeat scroll 0% 0% rgb(44, 62, 80);
        border-radius: 5px 5px 0px 0px;
        transition: background 0.4s ease-out 0s;
    }

        .pricing_header h2 {
            text-align: center;
            line-height: 25px;
            padding: 15px 0px;
            margin: 0px;
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
            color: #75b1ae;
        }

    .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .btn {
        display: inline-block;
        float: none;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
    }

    .off {
        text-decoration: line-through;
        color: rgb(86,86,86);
    }

    .space {
        height: 2px;
        background-color: #75b1ae;
    }

    .size {
        width: 4px;
        background-color: green;
    }
</style>
