﻿@model store.Models.ViewModel.PaymentViewModel
@{
    ViewBag.Title = "MallViewTransactionsSearch";
}

<hr>
<h2>MallViewTransactionsSearch</h2>
<body style="background-color:white">
    <div align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
    </div>

    @using (Html.BeginForm("MallViewTransactionsSearch", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.MallName, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.MallVar, "MallID", "MallName"), "-- Select Mall --", new { @class = "form-control" })
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.MallID)

        <div class="form-group">
            @Html.LabelFor(m => m.ShopName, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(x => x.ShopID, new SelectList(ViewBag.ShopVar, "ShopID", "ShopName"), "-- Select Shop --", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }
</body>
    @using (Html.BeginForm("RemoveTransaction", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        var MallID = Request.QueryString["MallID"];
        var ShopID = Request.QueryString["ShopID"];
        var ShopIDInt32 = Convert.ToInt32(ShopID);
        var MallIDInt32 = Convert.ToInt32(MallID);
        var db = new store.Models.MallManagementEntities();
        if (MallID != null && ShopID != null)
        {
            var Transaction = db.MallShopTransactionTbls.Where(x => x.MallID == MallIDInt32 && x.ShopID == ShopIDInt32 && x.MallViewStatus != false).ToList();
            if (Transaction.Count() > 0)
            {
                Html.RenderPartial("MallViewTransactionsSearchPartial", Transaction);
            }
            else
            {
                <div align="center"><h2>No Records!</h2></div>
            }

        }
        if (MallID == null && ShopID != null)
        {

            var Transaction = db.MallShopTransactionTbls.Where(x => x.ShopID == ShopIDInt32 && x.MallViewStatus != false).ToList();
            if (Transaction.Count() > 0)
            {
                Html.RenderPartial("MallViewTransactionsSearchPartial", Transaction);
            }
            else
            {
                <div align="center"><h2>No Records!</h2></div>
            }

        }
    }
   