﻿@model IEnumerable<store.Models.ShopOwnerDetailsTbl>
@{
    ViewBag.Title = "MallShopUserListView";
}
<br>
<body style="background-color:white">
    <h2>Shop Users</h2>
    @Styles.Render("~/Content/store.css")
   
        @{if (TempData["Message"] != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert('@TempData["Message"]');
                    };
                </script>
            }
            var MallID = Request.QueryString["MallID"];
        }


        <h2 style="color:white;">List of Registered Owners</h2>
        @using (Html.BeginForm("MallShopUserListView", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            <div class="row">
                <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:10px;" value="AllUsers" />
                <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:40px;" value="ShopRegisterdUsers" />


                @if (MallID != null)
                {
                    <a href="~/Shop/RegUsersReport?MallID@(MallID)" class="btn btn-primary">Get Report</a>
                }



                <input type="button" align="right" class="btn btn-primary" style="float: right;" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
            </div>
            <hr>
        }
        @{
            if (!IsPost)
            {

                Html.RenderPartial("MallShopUserListViewPartial", Model);
            }
            else if (IsPost)
            {
                if (Request["command"].Equals("AllUsers"))
                {
                    Html.RenderPartial("MallShopUserListViewPartial", Model);
                }
                else
                {
                    var db = new store.Models.MallManagementEntities();

                    var ShopOwnerList = db.ShopOwnerDetailsTbls.ToList();

                    var OwnersWithList = new List<store.Models.ShopOwnerDetailsTbl>();

                    foreach (var Owner in ShopOwnerList)
                    {
                        var CheckMall = db.ShopTbls.Where(x => x.ShopOwnerID == Owner.ShopOwnerID).ToList();
                        if (CheckMall.Count() > 0)
                        {
                            OwnersWithList.Add(Owner);
                        }
                    }
                    Html.RenderPartial("MallShopUserListViewPartial", OwnersWithList);
                }
            }
        }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
