﻿
@{
    ViewBag.Title = "MallReportPage";
}

<h2>MallReportPage</h2>

@using (Html.BeginForm("MallReportPage","Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Welcome!choose option.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    //Registered Users List----------------------------------------------------------------------
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="Registered Shops List" onclick="@("window.location.href='" + @Url.Action("RegShopsReport","Shop") + "'");" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}