﻿@* to  shop mall owner send message from shop list*@
@model store.Models.ViewModel.ComplaintBoxViewModel
@*@model store.Models.ShopMallComplaintTbl*@
@{
    ViewBag.Title = "MallShopSendMsg";

  // Layout = null;
    
}
<hr>
<hr />
<body style="background-color:white">

    @using (Html.BeginForm("MallShopSendMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @*@Html.HiddenFor(x => x.ShopID)
        @Html.TextAreaFor(x => x.Msg)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>*@


        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Send New Message...</div>
                        <div class="panel-body">
                            <div class="form-group">

                                @*@Html.LabelFor(m => m.MallName, new { @class = "col-md-2 control-label" })*@
                                <div class="col-xs-12 col-md-5">
                                    @Html.HiddenFor(x => x.ShopID)
                                    @Html.TextAreaFor(x => x.Msg)
                                </div>
                            </div>



                            <div class="col-xs-12 col-lg-offset-2">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" style="width:100px" class="btn btn-primary" value="Send" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    </body>