﻿@model IEnumerable<store.Models.MallShopTransactionTbl>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MallID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MallViewStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopViewStatus)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MallID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MallViewStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopViewStatus)
            </td>*@
            <td>
                @*@Html.ActionLink("Delete", "Delete", new { MallShopTransactionID = item.MallShopTransactionID })*@
            </td>
            <td align="right">
                <input type="checkbox"  name="ids" value="@item.MallShopTransactionID" />
            </td>
        </tr>
    }

    </table>
<div>
    <input type="submit" class="btn btn-primary" style="float:left-right; margin-left:900px;" value="Delete" onclick="return confirm('Are sure wants to delete?');" />
</div>