﻿@model store.Models.ShopMallComplaintTbl
@{

    ViewBag.Title = "MsgToShop";
}
@*@Styles.Render("~/Content/store.css")*@

    <body style="background-color:white">
        <br>
        <h2>MESSAGE BOX</h2>
        <p align="right">
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
        </p>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        @*<div class="panel panel-default">
                            <div class="panel-body">*@

                        <div class="btn-group">
                            @using (Html.BeginForm("MsgToShop", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                    <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Send Items" />
                            }
                        </div>
                        <div class="table-container">
                            @{
                                if (TempData["Message"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            alert('@TempData["Message"]');
                                        };
                                    </script>
                                }
                                if (!IsPost)
                                {
                                    using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        var db = new store.Models.MallManagementEntities();
                                        var Model = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == false && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                        if (Model.Count > 0)
                                        {
                                            Html.RenderPartial("ViewMsgMallShopPartial", Model);
                                        }
                                        else
                                        {
                                            <h1>No Messages</h1>
                                        }
                                    }
                                }
                                if (IsPost)
                                {
                                    using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        if (Request["command"].Equals("Inbox"))
                                        {
                                            var db = new store.Models.MallManagementEntities();
                                            var Model = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == false && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                            if (Model.Count > 0)
                                            {
                                                Html.RenderPartial("ViewMsgMallShopPartial", Model);
                                            }
                                            else
                                            {
                                                <h1>No Messages</h1>
                                            }
                                        }
                                        else if (Request["command"].Equals("Send Items"))
                                        {
                                            var db = new store.Models.MallManagementEntities();
                                            var Model = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == true && x.MallViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                            if (Model.Count > 0)
                                            {
                                                Html.RenderPartial("ViewMsgMallShopPartial", Model);
                                            }
                                            else
                                            {
                                                <h1>No Messages</h1>
                                            }
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>
            </div>*@
    </body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
