﻿
@model store.Models.ShopMallComplaintTbl
@using Microsoft.AspNet.Identity;
@{

    ViewBag.Title = "MsgToMall";
}
@*@Styles.Render("~/Content/store.css")
    @*<body class="body2">
        <h2>MESSAGE BOX</h2>
        <p align="right">
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopOwnerPage", "Shop") + "'");" />
        </p>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        @*<div class="panel panel-default">
                            <div class="panel-body">

                        <div class="btn-group">
                            @using (Html.BeginForm("MsgToMall", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                                <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Send Items" />
                                <input type="submit" class="btn btn-default" name="command" style="float: left;margin-right:10px;" value="Send Message" />
                            }
                        </div>
                        <div class="table-container">
                            @{
                                if (TempData["Message"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            alert('@TempData["Message"]');
                                        };
                                    </script>
                                }
                                var db = new store.Models.MallManagementEntities();
                                var ShopOwnerID = User.Identity.GetUserId();
                                var Shop = db.ShopTbls.Where(x => x.ShopOwnerID == ShopOwnerID).ToList();
                                var Msg2 = new List<store.Models.ShopMallComplaintTbl>();
                                var Msg = new List<store.Models.ShopMallComplaintTbl>();
                                if (!IsPost)
                                {

                                    using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {

                                        Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == true && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();


                                    }
                                }

                                if (IsPost)
                                {

                                    if (Request["command"].Equals("Send Message"))
                                    {

                                        Html.RenderAction("SendShopMallMsg");
                                    }

                                    using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        if (Request["command"].Equals("Inbox"))
                                        {

                                            Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == true && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                        }

                                        else if (Request["command"].Equals("Send Items"))
                                        {

                                            Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == false && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();
                                        }

                                    }

                                }
                                foreach (var id in Shop)
                                {
                                    foreach (var id2 in Msg)
                                    {
                                        if (id.ShopID == id2.ShopID)
                                        {
                                            Msg2.Add(id2);
                                        }
                                    }
                                }

                                if (Msg2.Count > 0)
                                {
                                    Html.RenderPartial("ViewMsgMallShopPartial", Msg2);
                                }
                                else
                                {
                                                < h1 > No Messages </ h1 >
                                }
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>
            </div>
    </body>
        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@


<body style="background-color:white">
    <h2>MESSAGE BOX</h2>
    @*<p align="right">
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopOwnerPage", "Shop") + "'");" />
        </p>*@

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    @*<div class="panel panel-default">
                        <div class="panel-body">*@

                    <div class="btn-group">
                        @using (Html.BeginForm("MsgToMall", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:10px;" value="Inbox" />
                            <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:10px;" value="Send Items" />
                            <input type="submit" class="btn btn-primary" name="command" style="float: left;margin-right:10px;" value="Send Message" />
                        }
                    </div>
                    <div class="table-container">
                        @{
                            if (TempData["Message"] != null)
                            {
                                <script type="text/javascript">
                                    window.onload = function () {
                                        alert('@TempData["Message"]');
                                    };
                                </script>
                            }
                            if (!IsPost)
                            {

                                using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    var db = new store.Models.MallManagementEntities();
                                    var ShopOwnerID = User.Identity.GetUserId();
                                    var Shop = db.ShopTbls.Where(x => x.ShopOwnerID == ShopOwnerID).ToList();
                                    var Msg2 = new List<store.Models.ShopMallComplaintTbl>();
                                    var Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == true && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();

                                    foreach (var id in Shop)
                                    {
                                        foreach (var id2 in Msg)
                                        {
                                            if (id.ShopID == id2.ShopID)
                                            {
                                                Msg2.Add(id2);
                                            }
                                        }
                                    }

                                    if (Msg2.Count > 0)
                                    {
                                        Html.RenderPartial("ViewMsgMallShopPartial", Msg2);
                                    }
                                    else
                                    {
                                        <h1>No Messages</h1>
                                    }
                                }
                            }

                            if (IsPost)
                            {

                                if (Request["command"].Equals("Send Message"))
                                {
                                    var ShopOwnerID = User.Identity.GetUserId();

                                    Html.RenderAction("SendShopMallMsg");
                                }

                                using (Html.BeginForm("RemoveShopMsg", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    if (Request["command"].Equals("Inbox"))
                                    {
                                        var db = new store.Models.MallManagementEntities();
                                        var ShopOwnerID = User.Identity.GetUserId();
                                        var Shop = db.ShopTbls.Where(x => x.ShopOwnerID == ShopOwnerID).ToList();
                                        var Msg2 = new List<store.Models.ShopMallComplaintTbl>();
                                        var Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == true && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();

                                        foreach (var id in Shop)
                                        {
                                            foreach (var id2 in Msg)
                                            {
                                                if (id.ShopID == id2.ShopID)
                                                {
                                                    Msg2.Add(id2);
                                                }
                                            }
                                        }

                                        if (Msg2.Count > 0)
                                        {
                                            Html.RenderPartial("ViewMsgMallShopPartial", Msg2);
                                        }
                                        else
                                        {
                                            <h1>No Messages</h1>
                                        }
                                    }
                                    else if (Request["command"].Equals("Send Items"))
                                    {
                                        var db = new store.Models.MallManagementEntities();
                                        var ShopOwnerID = User.Identity.GetUserId();
                                        var Shop = db.ShopTbls.Where(x => x.ShopOwnerID == ShopOwnerID).ToList();
                                        var Msg2 = new List<store.Models.ShopMallComplaintTbl>();
                                        var Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == false && x.ShopViewStatus != false).OrderByDescending(x => x.DatePosted).ToList();

                                        foreach (var id in Shop)
                                        {
                                            foreach (var id2 in Msg)
                                            {
                                                if (id.ShopID == id2.ShopID)
                                                {
                                                    Msg2.Add(id2);
                                                }
                                            }
                                        }

                                        if (Msg2.Count > 0)
                                        {
                                            Html.RenderPartial("ViewMsgMallShopPartial", Msg2);
                                        }
                                        else
                                        {
                                            <h1>No Messages</h1>
                                        }
                                    }

                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





