﻿@model store.Models.ViewModel.PaymentViewModel
@{
    ViewBag.Title = "OfflinePayment";
}

<h2>OfflinePayment</h2>

@using (Html.BeginForm("OfflinePayment", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ShopID)

    <div class="form-group">
        @Html.LabelFor(m => m.Amt, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-5">
            @Html.TextBoxFor(m => m.Amt, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}