﻿@model IEnumerable<store.Controllers.ShopController.PendingList>

@{
    ViewBag.Title = "PaymentPendingList";
}
<hr>
<h2>Paymenet Pending List</h2>
<body style="background-color:white">
    <div align="right">
        <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShop", "Shop") + "'");" />
    </div>

    <table class="table table-hover table-striped">
        <tr>
            <th>
                Shop Name
            </th>
            <th>
                Shop Owner Name
            </th>
            <th>
                Mall Name
            </th>
            <th>
                Pending Amount
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PendingAmount)
                </td>

                @*<td>
                        @Html.ActionLink("Get Receipt", "GetSlip", new { MallShopTransactionID = item.MallShopTransactionID })
                        @Html.ActionLink("Delete", "RemoveTransaction", new { MallShopTransactionID = item.MallShopTransactionID })
                    </td>*@

                @*<td align="right">
                        <input type="checkbox" name="ids" value="@item.ShopID" />
                    </td>*@

            </tr>
        }

    </table>
    <a href="~/Shop/SendMail" class="btn btn-primary" style="float:left-right; margin-left:1200px;">Send Alert</a>

    @*@using (Html.BeginForm("SendMail", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <div>

            <input type="submit"  value=""/>
        </div>
        }*@
    </body>