﻿@{
    ViewBag.Title = "PaymentPage";
}

<h2>PaymentPage</h2>

@using (Html.BeginForm("PaymentPage", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Welcome!choose option.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
            <input type="button" align="right" class="btn btn-primary" style="float: right;" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopView", "Shop") + "'");" />
        </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="DebitCard" onclick="@("window.location.href='" + @Url.Action("DebitCardPayment", "Shop",new { ShopID=ViewBag.ShopID}) + "'");" />
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="CreditCard" onclick="@("window.location.href='" + @Url.Action("CreditCardPayment", "Shop",new { ShopID=ViewBag.ShopID}) + "'");" />
        </div>
    </div>
  
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="InternetBanking" onclick="@("window.location.href='" + @Url.Action("InterNetBankingPayment", "Shop") + "'");" />
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Offline" onclick="@("window.location.href='" + @Url.Action("OfflinePayment", "Shop",new { ShopID=ViewBag.ShopID}) + "'");" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
