﻿
@using System.Globalization;
@{
    ViewBag.Title = "store";
    var db = new store.Models.MallManagementEntities();
    var c = 1;
    //decimal total = 0;
    
}
<body style="background-color:white">
    <hr>
    <hr>

    <style>
        .panel-body .btn:not(.btn-block) {
            width: 200px;
            height: 120px;
            margin-bottom: 10px;
            margin: 2px;
        }
    </style>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-bookmark"></span>Shops
                        </h3>
                    </div>
                    <div class="panel-body">

                        <form method="get">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-2 control-label" for="Date">Start Date</label>
                                    <input class="col-md-3 TimePicker" id="Start" name="StartDate" type="text" placeholder="Start Date">
                                    <label class="col-md-2 control-label" for="Date">End Date</label>
                                    <input class="col-md-3 TimePicker" id="End" name="EndDate" type="text" placeholder="End Date">
                                </div>
                            </div>

                            <input type="hidden" name="MallID" value="@Request.QueryString["MallID"]">

                            <input type="submit" class="btn btn-primary" style="float:right; margin-right:250px;height:30px;width:105px;" value="GetReport" />

                            <input type="button" class="btn btn-primary" style="float:right; margin-right:250px;height:30px;width:100px;" value="Back" onclick="@("window.location.href='" + @Url.Action("MallOwnerShopListViewSearch", "Shop") + "'");" />

                        </form>

                    </div>

                    <div class="panel-body">
                        @if (Request.QueryString["StartDate"] != null && Request.QueryString["EndDate"] != null)
                        {

                            var StartDate = DateTime.ParseExact(Request.QueryString["StartDate"], "dd-MM-yyyy", CultureInfo.InvariantCulture);
                            var EndDate = DateTime.ParseExact(Request.QueryString["EndDate"], "dd-MM-yyyy", CultureInfo.InvariantCulture);

                            var Shop = db.ShopTbls.Where(x => x.RegDate >= StartDate && x.RegDate <= EndDate).ToList();


                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Shop Name</th>
                                        <th>Date of Register</th>
                                        <th>Phone Number</th>
                                    </tr>

                                    @foreach (var shop in Shop)
                                    {

                                        <tr>
                                            <td>

                                                <div>@c</div>
                                            </td>
                                            <td>
                                                <div>@shop.ShopName</div>
                                            </td>

                                            <td>
                                                <div>@Convert.ToDateTime(@shop.RegDate).ToString("dd/MM/yyyy")</div>
                                            </td>

                                            <td>
                                                <div>@shop.PhnNo</div>
                                            </td>
                                        </tr>
                                        //c++;
                                        //total = Convert.ToDecimal(total + order.NetAmount);
                                    }

                                    @*<tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-left"><strong>GrandTotal</strong></td>
                                            <td class="no-line text-left">@total</td>
                                        </tr>*@
                                </tbody>
                            </table>

                        }
                        else
                        {
                            <div class="text-center text-warning">Please choose start and end date</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>

    <script>

        $(function () {
            $('.TimePicker').bootstrapMaterialDatePicker(
               {
                   format: "DD-MM-YYYY",
                   time: false,
                   currentDate: new Date()
               });

            $('.TimePicker').bootstrapMaterialDatePicker(
                {
                    format: "DD-MM-YYYY",
                    time: false,
                    currentDate: new Date()
                });
        });

        $(function () {
            $('.TimePickerTwo').bootstrapMaterialDatePicker(
                {
                    format: "DD-MM-YYYY",
                    time: false//,
                    // currentDate: new Date()
                });
        });

    </script>


