﻿@model store.Models.ViewModel.ComplaintBoxViewModel
@{
    ViewBag.Title = "SendShopMallMsg";
}

@Html.AntiForgeryToken()
 @using (Html.BeginForm("SendShopMallMsg2", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
 {
<div >

    <hr />

    <div class="form-group">
             
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.ShopID, new SelectList(ViewBag.ShopVar, "ShopID", "ShopName"), "-- Select Shop --", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
      
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Msg, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Msg, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-primary"
                   onclick="location.href='@Request.UrlReferrer'" />
        </div>
    </div>
</div>

 }

