﻿
@model store.Models.ViewModel.ShopOwnerViewModel

@{
    ViewBag.Title = "ShopOwnerProfileEdit";
}

<h2>
    Edit profile..
    <div style="float:right" class="btn btn-default">@Html.ActionLink("Go Back", "ViewProfile", new { @class = "btn btn-primary" })</div>
</h2>
    <hr />

    @using (Html.BeginForm("ShopOwnerProfileEdit", "Shop", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
                    @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control TimePicker" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhnNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.PhnNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhnNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.img, new { @class = "col-md-2 control-label" })
                <div class="col-xs-12 col-md-4">
                    <input type="file" name="MyImage" class="form-control-file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="~/Scripts/moment.min.js"></script>
    <link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>
    <script>

        $(function () {
            $('.TimePicker').bootstrapMaterialDatePicker(
                {
                    format: "DD-MM-YYYY",
                    time: false
                });
        });
    </script>
