﻿@*Listing shops to send interest who looking for shops*@
@model List<store.Models.ShopTbl>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "ShopInterest";
}
@Html.Raw(TempData["Status"])

@*<div class="row">
    <input type="button" align="down" class="btn btn-primary" style="float:right;" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopOwnerPage", "Shop") + "'");" />
</div>*@

<h2>Rooms</h2>
<table class="table">
    <tr>

        <th>
            Mall Name
        </th>
        <th>
            Room No.
        </th>
        <th>
            Floor No.
        </th>

        <th>
            Status
        </th>

        <th>
            Rent Amount
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var db = new store.Models.MallManagementEntities();
                    var MallList = db.MallTbls.ToList();
                    foreach (var id in MallList)
                    {
                        if (item.MallID == id.MallID)
                        {
                            @Html.DisplayFor(modelItem => id.MallName)
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNo)
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <span>Active</span>
                }
                else
                {
                    <span>Not Active</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amt)
            </td>
            <td>
                @Html.ActionLink("Send Interest", "ShopInterestDetails", new { id = item.ShopID }, new { @class = "btn btn-primary" }) |
@{
    var ShopOwnerID = User.Identity.GetUserId();
    bool IDExists = db.ShopInterestRequestTbls.Any(x => x.ShopOwnerID == ShopOwnerID && x.ShopID==item.ShopID);

    if (IDExists)
    {

        @Html.ActionLink("Chat", "ShopInterestReply", new { ShopID = item.ShopID }, new { @class = "btn btn-primary" })
    }

}
            </td>
        </tr>
                    }              

</table>
