﻿@model IEnumerable<store.Models.ShopTbl>


@*@using (Html.BeginForm("MallOwnerShopListViewSearch", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<table class="table table-hover table-striped">
    <tr>
        
        <th>
            ShopName
        </th>
        <th>
           Phone
        </th>
        <th>
           RoomNo
        </th>
        <th>
            FloorNo
        </th>
        <th>
            LicenceNo
        </th>
        <th>
           ShopOwner Name
        </th>
        <th>
            Regiter Date
        </th>
        <th>
            DateOfExpiry
        </th>
        @*<th>
            IsActive
        </th>
        <th>
           ShopCategory
        </th>
        <th>
           Amount
        </th>
        <th></th>
        <th></th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>      
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhnNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenceNo)
        </td>
        <td>
            @{
                var db = new store.Models.MallManagementEntities();
                var ShopOwnerList = db.ShopOwnerDetailsTbls.ToList();
                foreach (var id in ShopOwnerList)
                {
                    if (item.ShopOwnerID == id.ShopOwnerID)
                    {
                        @Html.DisplayFor(modelItem => id.Name)
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfExpiry)
        </td>
      
        <td>
            @{
                var db1 = new store.Models.MallManagementEntities();
                var ShopCatList = db.ShopCategoryTbls.ToList();
                foreach (var id in ShopCatList)
                {
                    if (item.ShopCategoryID == id.ShopCategoryID)
                    {
                        @Html.DisplayFor(modelItem => id.ShopCategoryName)
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amt)
        </td>
        <td class="btn btn-default">@Html.ActionLink("Edit", "MallShopListEdit", new { ShopID = item.ShopID })</td>       
        <td class="btn btn-default">@Html.ActionLink("Delete", "RemoveShop", new { ShopID = item.ShopID }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
        <td class="btn btn-default">@Html.ActionLink("Send Message", "MallShopSendMsg", new { ShopID = item.ShopID })</td>
       
    </tr>
}

</table>
}*@


@using (Html.BeginForm("MallOwnerShopListViewSearch", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    int c2 = 1;




    <h2 style="color: #222;text-align: center;"> Shop List</h2>
    <hr>
    <table class="table table-striped table-hover">


        <thead>
            <tr class="row-name">


                <th>#</th>
                <th>Shop Name</th>
                <th>Room No</th>
                <th>Floor No</th>
                <th>Licence No</th>
                <th>Shop Owner</th>
                <th>Phone No</th>
                <th>Register Date</th>
                <th>Date Of Expiry</th>
                <th>Shop Category</th>
                <th>Amount</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row-content">


                    <td>@c2</td>
                   
                    <td>@Html.DisplayFor(modelItem => item.ShopName)</td>
                    <td>@Html.DisplayFor(modelItem => item.RoomNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.FloorNo) </td>
                    <td>@Html.DisplayFor(modelItem => item.LicenceNo)</td>
                    <td>
                        @{
                            var db = new store.Models.MallManagementEntities();
                            var ShopOwnerList = db.ShopOwnerDetailsTbls.ToList();
                            foreach (var id in ShopOwnerList)
                            {
                                if (item.ShopOwnerID == id.ShopOwnerID)
                                {
                                    @Html.DisplayFor(modelItem => id.Name)
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhnNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfExpiry)
                    </td>

                    <td>
                        @{
                            var db1 = new store.Models.MallManagementEntities();
                            var ShopCatList = db.ShopCategoryTbls.ToList();
                            foreach (var id in ShopCatList)
                            {
                                if (item.ShopCategoryID == id.ShopCategoryID)
                                {
                                    @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                }
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Amt)/-</td>
                    <td class="btn btn-default">@Html.ActionLink("Send Message", "MallShopSendMsg", new { ShopID = item.ShopID })</td>
                    <td>
                  
                        <a class="btn btn-danger edit" href="RemoveShop?ShopID=@item.ShopID" aria-label="Settings">
                            <i class="fa fa-trash" aria-hidden="true" onclick="return confirm('Are sure wants to delete?');"></i>
                        </a>
                        &nbsp
                        <a class="btn btn-info edit" href="MallShopListEdit?ShopID=@item.ShopID" aria-label="Settings">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                            c2++;
                        }

        </tbody>
    </table>



                        }

<style>
    /* Table css Start */
    a.del {
        background: #d9534f;
        border-radius: 2px;
        width: 35px;
        height: 28px;
        padding-left: 12px;
        line-height: 10px;
    }

    a.edit {
        padding-left: 10px;
        background: #337ab7;
        color: #fff;
        border-radius: 2px;
        border: none;
    }

    tr.row-name {
        font-size: 18px;
        color: #222;
    }

    tr.row-content {
        color: #6c7173;
    }

    table {
        border-bottom: 8px solid #448aff;
    }

    td.check {
        text-align: center;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background: #F0F2F2 !important;
    }

    a.btn-danger:hover {
        background: #de6c69;
    }

    a.btn-danger {
        background: #d9534f;
    }

    a.btn-top {
        background: #448aff;
        color: #fff;
        border: 1px solid #448aff;
        padding: 7px 10px;
        border-radius: 4px;
    }

        a.btn-top:hover {
            text-decoration: none;
            box-shadow: 3px 3px 5px #222;
            transition: box-shadow 0.5s;
        }

    /* Table css End */
</style>