﻿@*@model IEnumerable<store.Models.ShopTbl>

    @{
        ViewBag.Title = "ShopView";
    }

    <h2>ShopView</h2>
    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }
    <p>
        <div class="row">
            <input type="button" align="down" class="btn btn-primary" style="float:right;" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopOwnerPage", "Shop") + "'");" />
        </div>
    </p>
    <table class="table">
        <tr>
            <th>
             Mall Name
            </th>
            <th>
                Shop Name
            </th>
            <th>
                Phone Number
            </th>

            <th>
                Register Date
            </th>

            <th>
                Expiry Date
            </th>

            <th>
               Category
            </th>
            <th>
                Rent Amount
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var db = new store.Models.MallManagementEntities();
                    var MallList = db.MallTbls.ToList();
                    foreach (var id in MallList)
                    {
                        if (item.MallID == id.MallID)
                        {
                            @Html.DisplayFor(modelItem => id.MallName)
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhnNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpiry)
            </td>

            <td>
                @{

                    var Cat = db.ShopCategoryTbls.ToList();
                    foreach (var id in Cat)
                    {
                        if (item.ShopCategoryID == id.ShopCategoryID)
                        {
                            @Html.DisplayFor(modelItem => id.ShopCategoryName)
                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amt)
            </td>
            <td>
                @Html.ActionLink("Edit", "ShopEdit", new { ShopID=item.ShopID }) |
                @Html.ActionLink("Details", "ShopViewDetails", new { ShopID=item.ShopID }) |
                @Html.ActionLink("Discontinue", "ShopDiscontinue", new { ShopID=item.ShopID },new { onclick = "return confirm('Are sure wants to discontinue?');" })|
                @Html.ActionLink("PayRent", "PaymentPage", new { ShopID = item.ShopID })

            </td>
        </tr>
    }

    </table>*@


@*@model IEnumerable<store.Models.ShopTbl>

    @{if (TempData["Message"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
            </script>
        }
    }

    @using (Html.BeginForm("ShopView", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
                    <!-- price & service -->

        <div class="container">
            @foreach (var item in Model)
            {
        <!-- Pack 1-->
                <div class="col-md-3" id="home-box">
                    <div class="pricing_header">
                        <h2>@Html.DisplayFor(modelItem => item.ShopName)</h2>
                        <div class="space"></div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="fa fa-building"></span>- @{
                                var db = new store.Models.MallManagementEntities();
                                var MallList = db.MallTbls.ToList();
                                foreach (var id in MallList)
                                {
                                    if (item.MallID == id.MallID)
                                    {
                                        @Html.DisplayFor(modelItem => id.MallName)
                                    }
                                }
                            }
                        </li>
                        <li class="list-group-item"><span class="fa fa-phone"></span>-@Html.DisplayFor(modelItem => item.PhnNo)</li>
                        <li class="list-group-item"><span class="fa fa-calendar-check-o"></span>-@Html.DisplayFor(modelItem => item.RegDate)</li>
                        <li class="list-group-item">
                            <span class="fa fa-shopping-bag"></span>-@{

                                var Cat = db.ShopCategoryTbls.ToList();
                                foreach (var id in Cat)
                                {
                                    if (item.ShopCategoryID == id.ShopCategoryID)
                                    {
                                        @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                    }
                                }
                            }
                        </li>
                        <li class="list-group-item"><span class="fa fa-inr"></span>-@Html.DisplayFor(modelItem => item.Amt)</li>

                    </ul>

                    <div class="try">
                        @Html.ActionLink("Edit", "ShopEdit", new { ShopID = item.ShopID }) |
                        @Html.ActionLink("Details", "ShopViewDetails", new { ShopID = item.ShopID }) |
                        @Html.ActionLink("Discontinue", "ShopDiscontinue", new { ShopID = item.ShopID }, new { onclick = "return confirm('Are sure wants to discontinue?');" })|
                        @Html.ActionLink("PayRent", "PaymentPage", new { ShopID = item.ShopID })

                    </div>
                </div>
                                }

        </div>
                                }

    <style>
        .container {
            padding-top: 40px;
        }

        #details {
            font-family: "Quicksand", sans-serif;
            font-size: 60px;
        }

        #home-box > h2 {
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
            line-height: 1.1;
            color: #75b1ae;
        }

        .price {
            font-size: 25px;
            float: left;
        }

        .pricing_header {
            background: none repeat scroll 0% 0% rgb(44, 62, 80);
            border-radius: 5px 5px 0px 0px;
            transition: background 0.4s ease-out 0s;
        }

            .pricing_header h2 {
                text-align: center;
                line-height: 25px;
                padding: 15px 0px;
                margin: 0px;
                font-family: "Quicksand", sans-serif;
                font-weight: 400;
                color: #75b1ae;
            }

        .list-group-item:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }

        .btn {
            display: inline-block;
            float: none;
            font-family: "Quicksand", sans-serif;
            font-weight: 500;
        }

        .off {
            text-decoration: line-through;
            color: rgb(86,86,86);
        }

        .space {
            height: 2px;
            background-color: #75b1ae;
        }

        .size {
            width: 4px;
            background-color: green;
        }
    </style>*@


@model IEnumerable<store.Models.ShopTbl>

@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
                window.onload = function () {
                    alert('@TempData["Message"]');
                };
        </script>
    }
}

@using (Html.BeginForm("ShopView", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <div class="img-card">
                            @if (item.img != null)
                    {
                                <img src="~/Uploads/ShopOwner/@item.img" alt="stack photo">
                            }
                            else
                            {
                                <img src="~/Uploads/ShopOwner/default.png" alt="stack photo">
                            }
                        </div>
                        <br />
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="http://www.fostrap.com/">
                                    @Html.DisplayFor(modelItem => item.ShopName)
                                </a>
                            </h4>
                            <div class="">
                                <span class="fa fa-building"></span>In
                                @{
                                    var db = new store.Models.MallManagementEntities();
                                    var MallList = db.MallTbls.ToList();
                                    foreach (var id in MallList)
                                    {
                                        if (item.MallID == id.MallID)
                                        {
                                            @Html.DisplayFor(modelItem => id.MallName)
                                        }
                                    }
                                }
                            </div>
                            <div class="">
                                <span class="fa fa-shopping-bag"></span>-@{

                                    var Cat = db.ShopCategoryTbls.ToList();
                                    foreach (var id in Cat)
                                    {
                                        if (item.ShopCategoryID == id.ShopCategoryID)
                                        {
                                            @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                        }
                                    }
                                }
                            </div>
                            <div class="btn">
                                @Html.ActionLink("Edit", "ShopEdit", new { ShopID = item.ShopID }) </div>
                               <div class="btn"> @Html.ActionLink("Details", "ShopViewDetails", new { ShopID = item.ShopID })</div>
                               <div class="btn"> @Html.ActionLink("Discontinue", "ShopDiscontinue", new { ShopID = item.ShopID }, new { onclick = "return confirm('Are sure wants to discontinue?');" })</div>
                               <div class="btn btn1"> @Html.ActionLink("PayRent", "PaymentPage", new { ShopID = item.ShopID },new { @class="fa fa-credit-card"})</div>
                            
                        </div>
                    </div>
                </div>
                                    }
               
            </div>
</div>        
    }
    

<style>
    .row{
    padding-top:25px;
}


.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
    .btn1 {
        width:300px;
        color:forestgreen;
    }

</style>