﻿@model store.Models.ViewModel.ShopOwnerShopViewModel

@{
    ViewBag.Title = "Shop Registration";
}
<body style="background-color:white">
    @using (Html.BeginForm("ShopEdit", "Shop", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Register Shop.</h4>
        <hr />

        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

        @Html.HiddenFor(x => x.ShopID)

        <div class="form-group">
            @Html.LabelFor(m => m.ShopName, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.ShopName, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.ShopCategoryID, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.DropDownListFor(x => x.ShopCategoryID, new SelectList(ViewBag.ShopCategoriesvar, "ShopCategoryID", "ShopCategoryName"), "-- Select Category --", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.LicenceNo, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.LicenceNo, new { @class = "form-control" })
            </div>
        </div>



        /*   <div class="form-group">
            @Html.LabelFor(m => m.IsActive, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.IsActive, new { @checked = true })
                @Html.Label("Active")
                @Html.RadioButtonFor(m => m.IsActive, new { @checked = false })
                @Html.Label("Not Active")
            </div>
        </div> */

        /* <div class="form-group">
            @Html.LabelFor(m => m.IsActive, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-2 control-label">
            <input type="checkbox" name="IsActive" />
        </div>*/

        /*<div class="form-group">
            @Html.LabelFor(m => m.img, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.TextBoxFor(m => m.img, new { @class = "form-control" })
            </div>
        </div>*/


        <div class="form-group">
            @Html.LabelFor(m => m.img, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="MyImage" class="form-control-file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="UPDATE" />
            </div>
        </div>



    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>