﻿

@model store.Models.ShopTbl
@{
    ViewBag.Title = "ShopViewDetails";
}

<h2>Shop Details</h2>
<hr>
<body style="background-color:white">
    @using (Html.BeginForm("ShopViewDetails", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class="profile-head">
                    <div class="profiles container thumbnail">
                        <div class="col-md-2 col-sm-3 col-xs-5">
                            <div class="row">
                                @if (Model.img != null)
                {
                                    <img src="~/Uploads/ShopOwner/@Model.img" class="img-responsive">
                                }
                                else
                                {
                                    <img src="~/Uploads/ShopOwner/default.png" class="img-responsive">
                                }

                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1>@Model.ShopName</h1>
                                    <hr />
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p class="fa fa-shopping-cart fa-2x">
                                        Mall:
                                        @{
                                            var db = new store.Models.MallManagementEntities();
                                            var MallList = db.MallTbls.ToList();
                                            foreach (var id in MallList)
                                            {
                                                if (Model.MallID == id.MallID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.MallName)
                                                }
                                            }
                                        }
                                    </p>
                                    <p class="fa fa-inr fa-2x">Amount:@Model.Amt</p>
                                    <p class="fa fa-phone fa-2x">Phone:@Model.PhnNo</p>
                                    <p class="fa-2x">
                                        Category:@{
                                            var db1 = new store.Models.MallManagementEntities();
                                            var CategoryList = db.ShopCategoryTbls.ToList();
                                            foreach (var id in CategoryList)
                                            {
                                                if (Model.ShopCategoryID == id.ShopCategoryID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                                }
                                            }
                                        }
                                    </p>
                                    <p class="fa fa-id-card-o fa-2x">Licence.No:@Model.LicenceNo</p>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="fa fa-braille fa-2x">Room.No:@Model.RoomNo</p><br>
                                    <p class="fa fa-linode fa-2x">Floor.No:@Model.FloorNo</p><br>
                                    <p class="fa fa-calendar-check-o fa-2x">Reg.Date:@Model.RegDate</p><br>
                                    <p class="fa fa-calendar-times-o fa-2x">Expiry Date:@Model.DateOfExpiry</p><br>
                                </div>
                            </div>
                        </div>
              
                    </div>
                </div>
            </div>
        </div>


        @*<div class="container">
            
            <hr>
            <div class="row row-margin-bottom">
                <div class="col-md-5 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-6">
                                <img class="lib-img-show" src="http://lorempixel.com/850/850/?random=123">
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    <h2>@Model.ShopName</h2>
                                    <div class="lib-header-seperator"></div>
                                </div>
                                <div class="lib-row lib-desc">
                                  <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p class="fa fa-shopping-cart fa-2x">
                                        Mall:
                                        @{
                                            var db = new store.Models.MallManagementEntities();
                                            var MallList = db.MallTbls.ToList();
                                            foreach (var id in MallList)
                                            {
                                                if (Model.MallID == id.MallID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.MallName)
                                                }
                                            }
                                        }
                                    </p>
                                    <p class="fa fa-inr fa-2x">Amount:@Model.Amt</p>
                                    <p class="fa fa-phone fa-2x">Phone:@Model.PhnNo</p>
                                    <p class="fa fa-shopping-bag fa-2x">
                                        Category:@{
                                            var db1 = new store.Models.MallManagementEntities();
                                            var CategoryList = db.ShopCategoryTbls.ToList();
                                            foreach (var id in CategoryList)
                                            {
                                                if (Model.ShopCategoryID == id.ShopCategoryID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                                }
                                            }
                                        }
                                    </p>
                                    <p class="fa fa-id-card-o fa-2x">Licence.No:@Model.LicenceNo</p>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="fa fa-braille fa-2x">Room.No:@Model.RoomNo</p><br>
                                    <p class="fa fa-linode fa-2x">Floor.No:@Model.FloorNo</p><br>
                                    <p class="fa fa-calendar-check-o fa-2x">Reg.Date:@Model.RegDate</p><br>
                                    <p class="fa fa-calendar-times-o fa-2x">Expiry Date:@Model.DateOfExpiry</p><br>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>*@


    }
    </body>

    <style>
        .tooltp {
            position: absolute;
            background: pink;
            border-bottom: float: right;
            width: 0px;
            right: 60px;
            padding: 10px 0px;
            margin: -5px;
            -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
            transition: width 2s;
            overflow: hidden;
        }

        .lnk_usr:hover .tooltp {
            overflow: hidden;
            display: block;
            right: 60px;
            width: 100px;
        }
        * {
  box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}


    </style>
