﻿@model store.Models.ViewModel.ShopInterestViewModel
@{
    ViewBag.Title = "ShopInterestDetails";
}

<h2>ShopInterestDetails</h2>

@using (Html.BeginForm("ShopInterestDetails", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MallID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MallID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amt)
        </dd>
    </dl>
    
   @Html.HiddenFor(x => x.ShopID)
   @Html.TextAreaFor(x => x.Message)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}