﻿@model List<store.Models.ShopInterestRequestTbl>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ShopInterestReply";
}

<h2>ShopInterestReply</h2>
@Styles.Render("~/Contents/store.css")

@using (Html.BeginForm("ShopInterestReply", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="row">
        <input type="button" align="down" class="btn btn-primary" style="float:right;" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopInterest", "Shop") + "'");" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat

                    </div>

                    <div class="panel-body">
                        @foreach (var item in Model)
                        {

                            if (item.Reply != null)
                            {
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">
                                            @{
                                                var db = new store.Models.MallManagementEntities();
                                                var SOwner = db.ShopTbls.Where(x=>x.ShopID==item.ShopID).FirstOrDefault();
                                                var Mall = db.MallTbls.Where(x => x.MallID == SOwner.MallID).FirstOrDefault();
                                                var MOwner = db.MallOwnerDetailsTbls.Where(x => x.MallOwnerID == Mall.MallOwnerID).ToList();
                                                foreach (var id in MOwner)
                                                {
                                                    if (Mall.MallOwnerID == id.MallOwnerID)
                                                    {
                                                        @Html.DisplayFor(modelItem => id.OwnerName)
                                                    }
                                                }
                                            }
                                            
                                            
                                       
                                        </strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>@item.DateExpressed
                                        </small>
                                    </div>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Reply)
                                    </p>
                                </div>
                                <p>-----------------------------------------------------------------------------------------</p>
                                                }

                                                if (item.Message != null)
                                                {
                                                    <span class="chat-img pull-right">
                                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                                    </span>
                                                    <div class="chat-body clearfix">
                                                     <div class="header">
                                                        <small class="text-muted"><span class="glyphicon glyphicon-time"></span>@item.DateExpressed</small>
                                                         <strong class="pull-right primary-font">
                                                          @{
                                                              var db = new store.Models.MallManagementEntities();
                                                              var ShopOwnerID = User.Identity.GetUserId();
                                                              var SOwner = db.ShopOwnerDetailsTbls.ToList();
                                                              foreach (var id in SOwner)
                                                              {
                                                                  if (ShopOwnerID == id.ShopOwnerID)
                                                                  {
                                                                    @Html.DisplayFor(modelItem => id.Name)
                                                                  }
                                                              }
                                                        }                                                                                                                    
                                                     </strong>
                                                  </div>
                                                  <p>
                                                      @Html.DisplayFor(modelItem => item.Message)
                                                 
                                                 </p>
                                                 </div>
                                                <p>-----------------------------------------------------------------------------------------</p>
                                                                  }
                                                              }
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" name="Message" class="form-control input-sm" placeholder="Type your message here..." />
                            <input type="hidden" class="form-control" name="ShopID" value="@ViewBag.ShopID" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                                                    }
