﻿@model store.Models.ViewModel.ShopOwnerViewModel
@{
    ViewBag.Title = "Details";
   
}

@using (Html.BeginForm("ShopOwnerDetails", "Shop", FormMethod.Post, new {enctype="multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create New Account.</h4>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "red-text" })
        </div>
    </div>
  
    <div class="form-group">
        @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control TimePicker" })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "red-text" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })@Html.Label("male", "Male")
            @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })@Html.Label("female", "Female")

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhnNo, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.PhnNo, new { @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.PhnNo, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailID, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-xs-12 col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "red-text" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.img, new { @class = "col-md-2 control-label" })
        <div class="col-md-5">
           <input type="file" name="MyImage"class="form-control-file" />
        </div>
    </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        

        
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Scripts/bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.min.js"></script>
<script>

    $(function () {
        $('.TimePicker').bootstrapMaterialDatePicker(
            {
                format: "DD-MM-YYYY",
                time: false
            });
    });
</script>