﻿@model store.Models.ViewModel.ShopViewModel

@{
    ViewBag.Title = "Add Shop";
}
<hr />
<hr />
<hr />
<h2>Register New Shop...</h2>
<hr />
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
@*@using (Html.BeginForm("ShopRegMallOwner", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <hr />
    <hr />
    <h4>Add Shop.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
   
            <div class="form-group">
                @Html.LabelFor(m => m.MallID, new { @class = "col-md-2 control-label" })
                <div class="col-xs-12 col-md-4">
                    @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.Mallvar, "MallID", "MallName"), "-- Select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoomNo, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FloorNo, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.FloorNo, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Amt, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Amt, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        
}*@





@using (Html.BeginForm("ShopRegMallOwner", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
   
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Add New Shop...</div>
                <div class="panel-body">
                    <form role="form" method="post" action="" accept-charset="UTF-8">

                        <h5> <label for="fname">Mall</label></h5>
                        @Html.DropDownListFor(x => x.MallID, new SelectList(ViewBag.Mallvar, "MallID", "MallName"), "-- Select --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MallID, "", new { @class = "text-danger" })
                        <h5>  <label for="lname">Room Number</label></h5>
                        @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomNo, "", new { @class = "text-danger" })
                        <h5> <label for="lname">Floor Number</label></h5>
                        @Html.TextBoxFor(m => m.FloorNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FloorNo, "", new { @class = "text-danger" })
                        <h5>  <label for="lname">Amount</label></h5>
                        @Html.TextBoxFor(m => m.Amt, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Amt, "", new { @class = "text-danger" })
                        <h5>  <label for="lname">Square Feet</label></h5>
                        @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SQFT, "", new { @class = "text-danger" })
                        <hr />
                        <center><input type="submit" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="Add Now"></center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}












@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



