﻿@*@model store.Models.RemoveShopTbl

    @{
        ViewBag.Title = "ShopDiscontinueDetails";
    }

    <h2>ShopDiscontinueDetails</h2>

    <div>
        <h4>RemoveShopTbl</h4>
        <hr />

        @if (Model.img != null)
        {
            <img src="~/Uploads/ShopOwner/@Model.img" alt="stack photo" class="img" style="width:170px;height:170px">
        }
        else
        {
            <img src="~/Uploads/ShopOwner/default.png" alt="stack photo" class="img" style="width:170px;height:170px">
        }


        <dl class="dl-horizontal">


            <dt>
                Shop Name
            </dt>

            <dd>

                            @Html.DisplayFor(model => model.ShopName)

            </dd>

            <dt>
                Mall Name
            </dt>

            <dd>
                @{
                    var db1 = new store.Models.MallManagementEntities();
                    var MallList = db1.MallTbls.ToList();
                    foreach (var id in MallList)
                    {
                        if (id.MallID == Model.MallID)
                        {
                            @Html.DisplayFor(modelItem => id.MallName)
                        }
                    }
                }
            </dd>

            <dt>
                Phone Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhnNo)
            </dd>

            <dt>
                Room Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomNo)
            </dd>

            <dt>
                Floor Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FloorNo)
            </dd>

            <dt>
                Licence Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LicenceNo)
            </dd>

            <dt>
                ShopOwner Name
            </dt>

            <dd>
                @{
                    var db2 = new store.Models.MallManagementEntities();
                    var ShopOwnerList = db2.ShopOwnerDetailsTbls.ToList();
                    foreach (var id in ShopOwnerList)
                    {
                        if (id.ShopOwnerID == Model.ShopOwnerID)
                        {
                            @Html.DisplayFor(modelItem => id.Name)
                        }
                    }
                }
            </dd>

            <dt>
                DateOfExpiry
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfExpiry)
            </dd>


            <dt>
                ShopCategory Name
            </dt>

            <dd>
                @{
                    var db3 = new store.Models.MallManagementEntities();
                    var ShopCategoryList = db3.ShopCategoryTbls.ToList();
                    foreach (var id in ShopCategoryList)
                    {
                        if (id.ShopCategoryID == Model.ShopCategoryID)
                        {
                            @Html.DisplayFor(modelItem => id.ShopCategoryName)
                        }
                    }
                }
            </dd>

            <dt>
                Amount
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amt)
            </dd>

            <dt>
                Total Amount Paid
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalAmtPaid)
            </dd>

            <dt>
                Total Days
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalDays)
            </dd>

            <dt>
                WithdrawDate
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WithdrawDate)
            </dd>

            <dt>
                Register Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegDate)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "MallViewShopDiscontinue",new { @class="btn btn-primary"})
    </p>*@



@model store.Models.RemoveShopTbl

@{
    ViewBag.Title = "ShopDiscontinueDetails";
}

<br>
<h2>Shop Discontinue Details</h2>


<div class="container">
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(model => model.ShopName)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            @if (Model.img != null)
                            {
                                <img src="~/Uploads/ShopOwner/@Model.img" alt="stack photo" class="img-circle img-responsive">
                            }
                            else
                            {
                                <img src="~/Uploads/ShopOwner/default.png" alt="stack photo" class="img-circle img-responsive">
                            } 
                        </div>
                       
                        <div class="col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>ShopOwner Name:</td>
                                        <td>
                                            @{
                                                var db2 = new store.Models.MallManagementEntities();
                                                var ShopOwnerList = db2.ShopOwnerDetailsTbls.ToList();
                                                foreach (var id in ShopOwnerList)
                                                {
                                                    if (id.ShopOwnerID == Model.ShopOwnerID)
                                                    {
                                                        @Html.DisplayFor(modelItem => id.Name)
                                                    }
                                                }
                                            }
                                    </td>
                                </tr>
                                    <tr>
                                        <td>Phone.NO:</td>
                                        <td>@Html.DisplayFor(model => model.PhnNo)</td>
                                    </tr>
                                    <tr>
                                        <td>Mall Name:</td>
                                        <td>@{
                                            var db1 = new store.Models.MallManagementEntities();
                                            var MallList = db1.MallTbls.ToList();
                                            foreach (var id in MallList)
                                            {
                                                if (id.MallID == Model.MallID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.MallName)
                                                }
                                            }
                                        }</td>
                                    </tr>
                                    <tr>
                                        <td>Shop Category:</td>
                                        <td>@{
                                            var db3 = new store.Models.MallManagementEntities();
                                            var ShopCategoryList = db3.ShopCategoryTbls.ToList();
                                            foreach (var id in ShopCategoryList)
                                            {
                                                if (id.ShopCategoryID == Model.ShopCategoryID)
                                                {
                                                    @Html.DisplayFor(modelItem => id.ShopCategoryName)
                                                }
                                            }
                                        }</td>
                                    </tr>
                                    <tr>
                                        <td>Licence.No:</td>
                                        <td>@Html.DisplayFor(model => model.LicenceNo)</td>
                                    </tr>
                                    <tr>
                                        <td>Room.No:</td>
                                        <td>@Html.DisplayFor(model => model.RoomNo)</td>
                                    </tr>
                                    <tr>
                                        <td>Floor.No:</td>
                                        <td>@Html.DisplayFor(model => model.FloorNo)</td>
                                    </tr>
                                    <tr>
                                        <td>Register Date</td>
                                        <td>@Html.DisplayFor(model => model.RegDate)</td>
                                    </tr>
                                    <tr>
                                        <td>Expiry Date</td>
                                        <td>@Html.DisplayFor(model => model.DateOfExpiry)</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>Rent Amount</td>
                                        <td>@Html.DisplayFor(model => model.Amt)</td>
                                    </tr>
                                    <tr>
                                        <td>Withdraw Dare</td>
                                        <td>@Html.DisplayFor(model => model.WithdrawDate)</td>
                                    </tr>
                                    <tr>
                                        <td>Total Days</td>
                                        <td>
                                            @Html.DisplayFor(model => model.TotalDays)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount Paid</td>
                                        <td>@Html.DisplayFor(model => model.TotalAmtPaid)</td>
                                    </tr>                                   
                                </tbody>
                            </table>
                            <div class="btn btn-default">
                            @Html.ActionLink("Back to List", "MallViewShopDiscontinue")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                   
                </div>

            </div>
        </div>
    </div>
</div>


<style>
    .user-row {
        margin-bottom: 14px;
    }

        .user-row:last-child {
            margin-bottom: 0;
        }

    .dropdown-user {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

        .dropdown-user:hover {
            cursor: pointer;
        }

    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

        .table-user-information > tbody > tr:first-child {
            border-top: 0;
        }


        .table-user-information > tbody > tr > td {
            border-top: 0;
        }

    .toppad {
        margin-top: 20px;
    }
</style>

<script>
    $(document).ready(function () {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function () {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function () {
                //Completed slidetoggle
                if (idFor.is(':visible')) {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('button').click(function (e) {
            e.preventDefault();
            alert("This is a demo.\n :-)");
        });
    });
</script>