﻿@*@{
    ViewBag.Title = "ShopOwnerPage";
}


@using (Html.BeginForm("ShopOwnerPage", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Welcome!choose option.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="View Profile" onclick="@("window.location.href='" + @Url.Action("ViewProfile", "Shop") + "'");" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="Shops" onclick="@("window.location.href='" + @Url.Action("ShopView", "Shop") + "'");" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="Transactions" onclick="@("window.location.href='" + @Url.Action("ViewTransactionsSearch", "Shop") + "'");" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="Send Interest" onclick="@("window.location.href='" + @Url.Action("ShopInterest", "Shop") + "'");" />
        </div>
    </div>

 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" style="width:200px;height:50px" value="Messages" onclick="@("window.location.href='" + @Url.Action("MsgToMall", "Shop") + "'");" />
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



@model store.Models.ViewModel.ShopViewModel
@using store.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ShopOwnerPage";
}

@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}

@using (Html.BeginForm("ShopOwnerPage", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{





    <div class="page-title">
        <div>
            <h1><i class="fa fa-archive"></i>DashBoard</h1>

        </div>

    </div>



    MallManagementEntities db = new MallManagementEntities();
    var ShopOwnerID = User.Identity.GetUserId();
    var MallOwner = db.MallOwnerDetailsTbls.ToList();
    var Transaction= db.MallShopTransactionTbls.Where(x=>x.ShopViewStatus!=false).ToList();
    var Trans = new List<store.Models.MallShopTransactionTbl>();
    var Mall = db.MallTbls.ToList();
    var shop = db.ShopTbls.Where(x => x.IsActive == true && x.ShopOwnerID == ShopOwnerID).ToList();
    var Msg = db.ShopMallComplaintTbls.Where(x => x.WhoStatus == false && x.ShopViewStatus != false).ToList();
    foreach (var id in shop)
    {
        foreach (var id2 in Transaction)
        {
            if (id.ShopID == id2.ShopID)
            {
               
                    Trans.Add(id2);
                
            }
        }
    }







    <div class="row">
       
        <div class="col-md-3">
            <div class="widget-small danger">
                <i class="icon fa fa-star fa-3x"></i>
                <div class="info">
                    <h4>Shops</h4>
                    <p><b>@shop.Count()</b></p>
                </div>
            </div>
            <div class="widget-small primary">
                <i class="icon fa fa-building-o fa-3x"></i>

                <div class="info">
                    <h4>Messages</h4>
                    <p><b>@Msg.Count()</b></p>
                </div>
            </div>
        </div>

        <div class="chit-chat-layer1">
            <div class="col-md-9 chit-chat-layer1-left">
                <div class="work-progres">
                   
                      
                            Registered shops
                       

                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th></th>
                                    <th>Name</th>

                                    <th>Registered Date</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int c2 = 1;
                                    foreach (var item in shop)
                                    {
                                        <tr style="height:55px">

                                            <td>@c2</td>
                                            <td>
                                                @if (item.img == null)
                                                {
                                                    <img src="~/Uploads/default.png" style="width:60px; height:40px;" />
                                                }
                                                else
                                                {

                                                    <img src="~/Uploads/ShopOwner/@item.img" style="width:60px; height: 40px;">
                                                }
                                            </td>

                                            <td>@item.ShopName</td>
                                            <td>@item.RegDate</td>



                                            <td><span class="label label-success">Active</span></td>


                                        </tr>

                                        c2++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
           
        </div>
       
        
    </div>

        <hr />
        <div class="panel panel-primary">
            <div class="panel panel-body">
                <div class="col-md-5">
                    <div class="cal1 cal_2"><div class="clndr"><div class="clndr-controls"><div class="clndr-control-button"><p class="clndr-previous-button">previous</p></div><div class="month">July 2015</div><div class="clndr-control-button rightalign"><p class="clndr-next-button">next</p></div></div><table class="clndr-table" border="0" cellspacing="0" cellpadding="0"><thead><tr class="header-days"><td class="header-day">S</td><td class="header-day">M</td><td class="header-day">T</td><td class="header-day">W</td><td class="header-day">T</td><td class="header-day">F</td><td class="header-day">S</td></tr></thead><tbody><tr><td class="day adjacent-month last-month calendar-day-2015-06-28"><div class="day-contents">28</div></td><td class="day adjacent-month last-month calendar-day-2015-06-29"><div class="day-contents">29</div></td><td class="day adjacent-month last-month calendar-day-2015-06-30"><div class="day-contents">30</div></td><td class="day calendar-day-2015-07-01"><div class="day-contents">1</div></td><td class="day calendar-day-2015-07-02"><div class="day-contents">2</div></td><td class="day calendar-day-2015-07-03"><div class="day-contents">3</div></td><td class="day calendar-day-2015-07-04"><div class="day-contents">4</div></td></tr><tr><td class="day calendar-day-2015-07-05"><div class="day-contents">5</div></td><td class="day calendar-day-2015-07-06"><div class="day-contents">6</div></td><td class="day calendar-day-2015-07-07"><div class="day-contents">7</div></td><td class="day calendar-day-2015-07-08"><div class="day-contents">8</div></td><td class="day calendar-day-2015-07-09"><div class="day-contents">9</div></td><td class="day calendar-day-2015-07-10"><div class="day-contents">10</div></td><td class="day calendar-day-2015-07-11"><div class="day-contents">11</div></td></tr><tr><td class="day calendar-day-2015-07-12"><div class="day-contents">12</div></td><td class="day calendar-day-2015-07-13"><div class="day-contents">13</div></td><td class="day calendar-day-2015-07-14"><div class="day-contents">14</div></td><td class="day calendar-day-2015-07-15"><div class="day-contents">15</div></td><td class="day calendar-day-2015-07-16"><div class="day-contents">16</div></td><td class="day calendar-day-2015-07-17"><div class="day-contents">17</div></td><td class="day calendar-day-2015-07-18"><div class="day-contents">18</div></td></tr><tr><td class="day calendar-day-2015-07-19"><div class="day-contents">19</div></td><td class="day calendar-day-2015-07-20"><div class="day-contents">20</div></td><td class="day calendar-day-2015-07-21"><div class="day-contents">21</div></td><td class="day calendar-day-2015-07-22"><div class="day-contents">22</div></td><td class="day calendar-day-2015-07-23"><div class="day-contents">23</div></td><td class="day calendar-day-2015-07-24"><div class="day-contents">24</div></td><td class="day calendar-day-2015-07-25"><div class="day-contents">25</div></td></tr><tr><td class="day calendar-day-2015-07-26"><div class="day-contents">26</div></td><td class="day calendar-day-2015-07-27"><div class="day-contents">27</div></td><td class="day calendar-day-2015-07-28"><div class="day-contents">28</div></td><td class="day calendar-day-2015-07-29"><div class="day-contents">29</div></td><td class="day calendar-day-2015-07-30"><div class="day-contents">30</div></td><td class="day calendar-day-2015-07-31"><div class="day-contents">31</div></td><td class="day adjacent-month next-month calendar-day-2015-08-01"><div class="day-contents">1</div></td></tr></tbody></table></div></div>
                    <!----Calender -------->
                    <link rel="stylesheet" href="~/ShopTemplate/cal/clndr.css" type="text/css" />
                    <script src="~/ShopTemplate/cal/underscore-min.js" type="text/javascript"></script>
                    <script src="~/ShopTemplate/cal/moment-2.2.1.js" type="text/javascript"></script>
                    <script src="~/ShopTemplate/cal/clndr.js" type="text/javascript"></script>
                    <script src="~/ShopTemplate/cal/site.js" type="text/javascript"></script>
                    <!----End Calender -------->
                </div>



                <div class="chit-chat-layer1">
                    <div class="col-md-7 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">
                                <div class="panel panel-heading">
                                    Latest Transactions
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                           
                                            <th>Shop Name</th>
                                            <th>Mall Name</th>
                                            <th>Date</th>
                                            <th>Amount</th>


                                        </tr>
                                    </thead>


                                    <tbody>
                                        @{
                                            int c3 = 1;
                                            foreach (var item in Trans)
                                            {

                                                <tr>
                                                    <td>@c3</td>

                                                    @{
                                                        //  var db = new MallProject.Models.MallManagementEntities();

                                                        foreach (var id in shop)
                                                        {
                                                            if (item.ShopID == id.ShopID)
                                                            {
                                                                <td>@id.ShopName</td>
                                                            }
                                                        }
                                                    }
                                                    @{
                                                        //  var db = new MallProject.Models.MallManagementEntities();

                                                        foreach (var id in Mall)
                                                        {
                                                            if (item.MallID == id.MallID)
                                                            {
                                                                <td>@id.MallName</td>
                                                            }
                                                        }
                                                    }




                                                    <td>@item.Date</td>
                                                    <td>@item.Amt</td>


                                                </tr>

                                                            c3++;
                                                        }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        @*for malls----------------------------------------------------------------*@




                                            <hr />



                                            <style>
                                                .widget-small {
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    border-radius: 4px;
                                                    color: #FFF;
                                                    height: 150px;
                                                    width: 250px;
                                                    margin-bottom: 10px;
                                                    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                                                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                                                }
                                            </style>


                                                                                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




