﻿@*@model store.Models.ShopOwnerDetailsTbl

@{
    ViewBag.Title = "ViewProfile";
}

<h2>ViewProfile</h2>
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}
<div>
   
    <hr />
 
      @if (Model.img != null)
      {
        <img src="~/Uploads/ShopOwner/@Model.img" alt="stack photo" class="img" style="width:170px;height:170px">
      }
      else
      {
        <img src="~/Uploads/ShopOwner/defaultuser.png" alt="stack photo" class="img" style="width:170px;height:170px">
      }
          
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhnNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhnNo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ShopOwnerProfileEdit", new { ShopOwnerID = Model.ShopOwnerID })
   
</p>*@



@model store.Models.ShopOwnerDetailsTbl

@{
    ViewBag.Title = "ViewProfile";
}

<hr />
@{if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
        </script>
    }
}

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">  <h4>User Profile</h4></div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    @*<img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">*@

                    @if (Model.img != null)
                    {
                        <img src="~/Uploads/ShopOwner/@Model.img" alt="stack photo" id="profile-image1" class="img-circle img-responsive">
                    }
                    else
                    {
                        <img src="~/Uploads/ShopOwner/defaultuser.png" alt="stack photo" id="profile-image1" class="img-circle img-responsive">
                    }


                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">

                        <h2>@Html.DisplayFor(model => model.Name)</h2>

                        <p><b>Shop Owner</b></p>


                    </div>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="fa fa-address-book" style="width:50px;"></span>@Html.DisplayFor(model => model.Address)</p></li>
                        <li><p><span class="fa fa-gratipay" style="width:50px;"></span>@Html.DisplayFor(model => model.Age)</p></li>
                        <li><p><span class="fa fa-venus-mars" style="width:50px;"></span>@Html.DisplayFor(model => model.Gender)</p></li>
                        <li><p><span class="fa fa-birthday-cake" style="width:50px;"></span>@Html.DisplayFor(model => model.DOB)</p></li>
                        <li><p><span class="fa fa-at" style="width:50px;"></span>@Html.DisplayFor(model => model.EmailID)</p></li>
                        <li><p><span class="fa fa-phone" style="width:50px;"></span>@Html.DisplayFor(model => model.PhnNo)</p></li>
                         </ul>
                    <hr>
                    <div class="btn btn-default" style="float:right" >
                        <h4> <i class="fa fa-edit">@Html.ActionLink("Edit", "ShopOwnerProfileEdit", new { ShopOwnerID = Model.ShopOwnerID })</i></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>