﻿
@model IEnumerable<store.Models.MallShopTransactionTbl>

@{
    ViewBag.Title = "ViewTransactions";
}

<h2>ViewTransactions</h2>


<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MallID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MallID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Get Receipt", "GetSlip", new { MallShopTransactionID = item.MallShopTransactionID }) 
                @*@Html.ActionLink("Delete", "RemoveTransaction", new { MallShopTransactionID = item.MallShopTransactionID })*@
            </td>

            <td align="right">
                <input type="checkbox" name="ids" value="@item.MallShopTransactionID" />
            </td>

        </tr>
    }

</table>
<div>
    <input type="submit" class="btn btn-primary" style="float:right; margin-right:10px;" value="Delete" @*onclick="return confirm('Are sure wants to delete?');*@" />
</div>
