﻿@model store.Models.ViewModel.PaymentViewModel

@{
    ViewBag.Title = "ViewTransactionsSearch";
}

<h2>View Transactions</h2>
<body style="background-color:white">
    @*<div align="right">
            <input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("ShopOwnerPage", "Shop") + "'");" />
        </div>*@
    @using (Html.BeginForm("ViewTransactionsSearch", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.ShopID, new { @class = "col-md-2 control-label" })
            <div class="col-xs-12 col-md-5">
                @Html.DropDownListFor(x => x.ShopID, new SelectList(ViewBag.ShopList, "ShopID", "ShopName"), "-- Select Shop --", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.ShopID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-lg-offset-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }
    @{
        using (Html.BeginForm("RemoveTransaction", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            var MallID = Request.QueryString["MallID"];
            var ShopID = Request.QueryString["ShopID"];
            var ShopIDInt32 = Convert.ToInt32(ShopID);
            var MallIDInt32 = Convert.ToInt32(MallID);
            var db = new store.Models.MallManagementEntities();
            if (MallID != null && ShopID != null)
            {
                var Transaction = db.MallShopTransactionTbls.Where(x => x.MallID == MallIDInt32 && x.ShopID == ShopIDInt32 && x.ShopViewStatus != false).ToList();
                if (Transaction.Count() > 0)
                {
                    Html.RenderPartial("ViewTransactionsPartial", Transaction);
                }
                else
                {
                    <div align="center"><h2>No Records!</h2></div>
                }

            }
            if (MallID == null && ShopID != null)
            {
                var Transaction = db.MallShopTransactionTbls.Where(x => x.ShopID == ShopIDInt32 && x.ShopViewStatus != false).ToList();
                if (Transaction.Count() > 0)
                {
                    Html.RenderPartial("ViewTransactionsPartial", Transaction);
                }
                else
                {
                    <div align="center"><h2>No Records!</h2></div>
                }

            }
        }
    }
    </body>