﻿@* Shop owner partial view and delete message action perform on this page *@

@model IEnumerable<store.Models.ShopMallComplaintTbl>
@using Microsoft.AspNet.Identity;
<container>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Shop Name</th>
                <th>Date posted</th>
                <th>Message</th>                
            </tr>
        </thead>
        <tbody>
            <tr data-toggle="collapse" data-target="#collapse4039" class="clickable">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @{
                            var db = new store.Models.MallManagementEntities();
                            var ShopList = db.ShopTbls.ToList();
                            foreach (var id in ShopList)
                            {
                                if (item.ShopID == id.ShopID)
                                {
                                    @Html.DisplayFor(modelItem => id.ShopName)
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Msg)
                    </td>
                    <td>
                        @if (User.IsInRole("ShopOwner") && item.WhoStatus == true)
                        {
                            @Html.ActionLink("Reply  ", "ShopOwnerToMallSendMsg", new { ShopID = item.ShopID },new { @class = "fa fa-reply" });

                        }
                        else if (User.IsInRole("MallOwner") && item.WhoStatus == false)
                        {
                            @Html.ActionLink(" Reply  ", "ShopMallSendMsg", new { ShopID = item.ShopID },new { @class = "fa fa-reply" });
                }
                    <td align="left">
                        <input type="checkbox" name="ids" value="@item.ShopMallComplaintID" />
                    </td>
                </tr>
}
        </table>
        <div>
            <input type="submit"  class="btn btn-primary" style="margin-left:1050px" value="Delete">
        </div>     
  </container>